<app-nav></app-nav>
<div class="container-md" style="width: 250px; height: 500px; ">
    <div class="row g-6 formulario">
      <img src="/assets/students.png" alt="Icono de alumos">
      <form >
        <div class="mb-2">
          <label for="exampleInputEmail1" class="form-label">Usuario: </label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="usuario" required  placeholder="Ingrese usuario">
        </div>
        <div class="mb-2">
          <label for="exampleInputPassword1" class="form-label">Contraseña: </label>
          <input type="password" class="form-control" id="exampleInputPassword1" required   placeholder="Ingrese contraseña">
        </div>
        <button type="submit" class="btn btn-primary boton" value="log in">Ingresar</button>
        vagina
      </form>
      </div>
</div>
  
  